//导入公共样式
@import 'public';
body{
    background-color: #F5EDED;
}
// header
header {
    width: 100%;
    height: 34px;
    background-color: #ededed;
    border-bottom: 2px solid #f5f5f5;
}
.header {
    width: 1200px;
    height: 32px;
    margin: 0 auto;
    line-height: 32px;
    color: #666;
    p {
        float: left;
        font-size: 12px;
        &:hover {
            color: #f59;
        }
    }
    .header-right {
        float: right;
    }
    a {
        float: left;
        color: #666;
        font-size: 14px;
        &:hover {
            color: #f59;
        }
    }
    li {
        float: left;
        border-right: 1px solid #156dcf;
        height: 12px;
        margin: 8px 10px 0;
        overflow: hidden;
        width: 0;
    }
    .tb {
        width: 20px;
        height: 20px;
        float: left;
        margin-top: 8px;
        background: url(../img/fast_share.png) no-repeat;
    }
    .tb1 {
        background: url(../img/fast_share.png) no-repeat -188px 0px;
    }
}
// er
.er {
    width: 100%;
    height: 106px;
    background: #ffffff;
}
.logo {
    width: 1200px;
    height: 96px;
    margin: 0 auto;
    a{
        width: 255px;
        height: 54px;
        float: left;
        margin-top: 28px;
    }
    .mod_ad {
        height: 42px;
        float: left;
        font-size: 12px;
        border-left: 1px solid #eee;
        padding-left: 10px;
        line-height: 22px;
        color: #f59;
        margin-top: 28px;
        a{
            color: #f69;
            font-weight: bold;
            font-size: 14px;
            margin-top: 0;
        }
    }
    .ss{
        width: 621px;
        height: 71px;
        float: right;
        margin-top: 25px;
        .ssk{
            width: 430px;
            height: 35px;
            float: left;
            margin-right: 30px;
            position: relative;
            z-index: 700;
            border: 3px #ed145b solid;
            .mod_search_srk{
                height: 32px;
                border: 0 none;
                line-height: 14px;
                padding: 0px 10px;
                width: 340px;
                color: #666666;
                outline: 0 none;
            }
            .mod_search_btn{
                width: 65px;
                height: 35px;
                border: 0 none;
                text-indent: 0;
                text-align: center;
                font-size: 18px;
                color: #fff;
                background-color: #ed145b;
            }
        }
        .mod_cart{
            width: 155px;
            height: 39px;
            color: #f69;
            float: left;
            position: relative;
            z-index: 700;
            .mod_cart_con{
                background-color: #f8f8f8;
                height: 35px;
                width: 145px;
                border: 2px solid rgb(238, 238, 238);
                &:hover{
                    border: 2px solid rgb(255, 102, 153)
                }
                .mod_cart_lk{
                    width: 82px;
                    height: 33px;
                    margin-top: 0;
                    .mod_cart_ico{
                        background-image: url(../img/cart.png);
                        background-size: cover;
                        background-position: left center;
                        float: left;
                        height: 20px;
                        margin-left: 5px;
                        width: 23px;
                        margin-top: 7px;
                    }
                    .mod_cart_tit{
                        float: left;
                        font: 400 14px/35px "微软雅黑";
                        padding-left: 6px;
                        padding-right: 6px;
                        color: #666;
                    }
                }
                .mod_cart_line{
                    border-left: 2px solid #e8e8e8;
                    float: left;
                    font-size: 0;
                    height: 35px;
                    overflow: hidden;
                    width: 0;
                    font-style: normal;
                }
                .mod_cart_num{
                    float: left;
                    line-height: 35px;
                    text-align: right;
                    width: 25px;
                    font-weight: bold;
                    font-size: 16px;
                }
                .mod_cart_arrow{
                    background-color: #e8e8e8;
                    float: left;
                    height: 12px;
                    margin-left: 8px;
                    margin-top: 12px;
                    overflow: hidden;
                    width: 12px;
                    i{
                        border-color: #f80 rgba(0,0,0,0) rgba(0,0,0,0);
                        transform: rotate(180deg);
                        border-style: solid dashed dashed;
                        border-width: 4px;
                        border-width: 4px;
                        float: left;
                        font-size: 0;
                        height: 0;
                        margin-left: 2px;
                    }
                }
            }
        }
        .mod_lxie{
            clear: both;
            color: #999;
            height: 30px;
            line-height: 30px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 360px;
            word-break: keep-all;
            a{
                display: block;
                width: 24px;
                height: 13px;
                font-size: 12px;
                color: #999;
                margin: {
                    top : 0;
                    right: 10px;
                }
                
            }
        }
    }
}
// nav
.nav{
    width: 100%;
    height: 40px;
    background-color: #ED145B;
    position: sticky;
    top: 0; 
    left: 0;
    z-index: 10001;
    .dl_index{
        width: 1230px;
        height: 40px;
        overflow: hidden;
        margin: auto;
        letter-spacing: .5px;
        vertical-align: middle;
        .flei{
            width: auto;
            float: left;
            display: block;
            padding: 8px 10px;
            margin: 0px 5px;
            height: 40px;
            a{
                color: #e5e6e6;
                &:hover{
                    color: #FF9797;
                }
            }
        }
        .tbfl{
            background-color:#F04F83;
        }
    }
}
// show
.show{
    width: 1220px;
    height: auto;
    overflow: hidden;
    margin: 20px auto;
    .show_left{
        width: 228px;
        float: left;
        margin-top: 0;
        overflow: hidden;
        transition: all .5s;
        margin: 10px 0;
        margin-left: 10px;
        border: solid #ccc 1px;
        border-radius: 5px;
        .left_box{
            padding: 10px 0;
            background-color: #fff;
            display: block;
            h1{
                font-size: 24px;
                color: #999;
                text-align: left;
                vertical-align: middle;
                line-height: 30px;
                letter-spacing: .5px;
                margin-bottom: 10px;
                padding-left: 10px;
                a{
                    text-decoration: none;
                    color: #999;
                }
            }
            ul{
                list-style: none;
                padding: 5px 0;
                padding-left: 2px;
                li{
                    width: auto;
                    overflow: hidden;
                    padding-bottom: 20px;
                    margin-bottom: 10px;
                    border-bottom: dashed #ccc 1px;
                    span{
                        float: left;
                        position: relative;
                        left: 5px;
                        display: inline;
                        font-size: 16px;
                        line-height: 16px;
                        padding-left: 5px;
                        font-weight: 600;
                        line-height: 25px;
                        a{
                            color: #ec6083;
                        }
                    }
                    p{
                        line-height: 20px;
                        width: 170px;
                        float: right;
                        margin-top: 0;
                        text-align: left;
                        vertical-align: middle;
                        overflow: hidden;
                        a{
                            width: auto;
                            float: left;
                            color: #666;
                            font-size: 13px;
                            line-height: 25px;
                            margin-right: 10px;
                            overflow: hidden;
                        }
                        .red_f{
                            color: #ec6083;
                        }
                    }
                }
            }
            .left_box_bottom{
                width: auto;
                height: 30px;
                line-height: 30px;
                vertical-align: middle;
                overflow: hidden;
                .sskk{
                    width: 120px;
                    height: 25px;
                    line-height: 14px;
                    font-size: 13px;
                    margin-left: 20px;
                    color: #666;
                    border: solid #ccc 1px;
                    padding-left: 10px;
                    border-radius: 3px;
                }
                .sskkan{
                    width: 50px;
                    height: 25px;
                    line-height: 25px;
                    color: #fff;
                    font-size: 12px;
                    text-align: center;
                    vertical-align: middle;
                    border-width: 0;
                    background-color: #ec6083;
                    border-radius: 3px;
                    cursor: pointer;
                }
            }
        }
    }
    .show_top{
        width: 960px;
        margin: 10px;
        float: right;
        .top_box{
            width: auto;
            height: 60px;
            margin: 10px auto;
            background-color: #f8f8f8;
            border-radius: 5px;
            .top_tit{
                width: 100%;
                height: 25px;
                line-height: 25px;
                float: left;
                margin-top: 10px;
                margin-left: 10px;
                padding: 10px 0;
                span{
                    font-size: 18px;
                    color: #666;
                    float: left;
                    padding-right: 10px;
                }
                h1{
                    display: inline;
                    font-size: 24px;
                    float: left;
                    font-weight: 600;
                    color: #f69;
                }
            }
            .top_bottom{
                width: 100%;
                height: 30px;
                float: left;
                margin-right: 10px;
                margin-top: 10px;
                padding: 10px 0;
                ul{
                    height: 25px;
                    line-height: 25px;
                    overflow: hidden;
                    float: left;
                    border: solid #f69 1px;
                    border-radius: 5px;
                    li{
                        width: auto;
                        height: 25px;
                        overflow: hidden;
                        float: left;
                        padding: 1px 5px;
                        background-color: #fff;
                        color: #666;
                        font-size: 14px;
                        border-right: solid #f69 1px;
                        a{
                            font-size: 13px;
                            line-height: 25px;
                            color: #f79;
                            text-align: center;
                            text-decoration: none;
                        }
                        span{
                            font-weight: 600;
                            color: #f69;
                        }
                    }
                }
                .paixu{
                    width: auto;
                    height: 30px;
                    line-height: 30px;
                    overflow: hidden;
                    float: right;
                    span{
                        text-align: center;
                        font-size: 13px;
                        line-height: 30px;
                        color: #999;
                        a{
                            background-color: #ec6083;
                            line-height: 30px;
                            padding: 5px;
                            height: 20px;
                            color: #fff;
                            border-radius: 5px;
                        }
                    }
                }
            }
        }
    }
    .show_right{
        width: 960px;
        float: right;
        overflow: hidden;
        .right_one{
            width: 960px;
            margin: 5px;
        }
        .right_two{
            width: 920px;
            line-height: 30px;
            overflow: hidden;
            margin: 10px auto;
            padding: 5px;
            background-color: #f69;
            position: relative;
            top: 10px;
            border-radius: 3px;
            p{
                text-align: center;
                font-size: 16px;
                line-height: 30px;
                display: inline;
                color: #fff;
                font-weight: 500;
                padding-left: 10px;
            }
        }
        .right_three{
            width: 220px;
            margin: 5px 10px;
            float: left;
            .three_con{
                width: 100%;
                overflow: hidden;
                border-color: solid #e6e4e4 1px;
                position: relative;
                box-shadow: 0 0 1px rgba(34,25,25,0.5);
                background-clip: border-box;
                background-origin: padding-box;
                background-color: #fff;
                color: #999;
                font-size: 14px;
                float: right;
                padding: 0;
                border-radius: 5px;
                a{
                    width: 220px;
                    height: 330px;
                    overflow: hidden;
                    margin: 0;
                    display: block;
                    img{
                        display: inline-block;
                        width: 220px;
                        height: 330px;
                    }
                }
                .g_price{
                    width: auto;
                    float: right;
                    display: inline;
                    overflow: hidden;
                    position: absolute;
                    right: 1px;
                    top: 305px;
                    padding: 2px;
                    background-color: #ccc;
                    z-index: 99;
                    span{
                        font-size: 14px;
                        color: #f69;
                        font-weight: 900;
                    }
                }
                p{
                    width: 95%;
                    height: 36px;
                    color: #999;
                    line-height: 18px;
                    vertical-align: middle;
                    word-break: break-all;
                    letter-spacing: .5px;
                    white-space: pre-wrap;
                    overflow: hidden;
                    margin: 0 5px;
                    font-size: 14px;
                    position: relative;
                    a{
                        width: 200px;
                        height: 36px;
                        line-height: 18px;
                        font-size: 14px;
                        color: #666;
                        position: absolute;
                        top: 0;
                        left: 0;
                    }
                }
                .gc_title{
                    height: 25px;
                    line-height: 25px;
                    overflow: hidden;
                    padding: 5px;
                    .like_it{
                        width: 60px;
                        height: 25px;
                        float: left;
                        background-attachment: scroll;
                        background-clip: border-box;
                        background-color: transparent;
                        background-image: url(../img/icon-big-v4.png);
                        background-origin: border-box;
                        background-position: -200px -80px;
                        background-repeat: no-repeat;
                        background-size: auto;
                        color: #999;
                        font-size: 14px;
                    }
                    .show_it{
                        width: auto;
                        height: 25px;
                        font-size: 14px;
                        font-weight: bold;
                        color: #f69;
                        float: left;
                        padding: 0 5px;
                        background: url(../../image/ext/icon-big-v4.png) no-repeat -320px -80px;
                    }
                    i{
                        width: 5px;
                        height: 25px;
                        overflow: hidden;
                        float: left;
                        background: url(../../image/ext/icon-big-v4.png) no-repeat -400px -80px;
                    }
                    .liked{
                        width: 190px!important;
                        padding: 5px;
                        overflow: hidden;
                        position: relative;
                        top: -30px;
                        background-color: #f8f8f8;
                        color: #f69!important;
                        z-index: 99;
                        text-align: center;
                        display: none;
                    }
                    span{
                        width: 48px;
                        height: 25px;
                        overflow: hidden;
                        float: right;
                        white-space: nowrap;
                        word-break: break-all;
                        vertical-align: middle;
                        letter-spacing: .5px;
                        margin: 0;
                        color: #999;
                        font-size: 12px;
                        cursor: pointer;
                        a{
                            text-decoration: none;
                            color: #999;
                            font-size: 14px;
                        }
                    }
                }
                .fshare{
                    width: auto;
                    height: 35px;
                    padding: 5px 0;
                    overflow: hidden;
                    background-color: #f9f9f9;
                    .head{
                        width: 35px;
                        float: left;
                        position: relative;
                        margin-left: 5px;
                        img{
                            width: 32px;
                            height: 32px;
                            border-radius: 16px;
                            background-image: url(../img/bg200.jpg);
                        }
                    }
                    p{
                        width: 160px;
                        float: left;
                        word-spacing: normal;
                        word-break: break-all;
                        line-height: 32px;
                        position: relative;
                        a{
                            color: #666;
                            width: 29px;
                            height: 16px;
                            position: relative;
                            top: -55px;
                        }
                        .likebb{
                            width: 88px;
                            height: 14px;
                            font-size: 12px;
                            position: relative;
                            color: #999;
                            margin-left: 5px;
                            position: absolute;
                            left: 27px;
                            top: 2px;
                        }
                    }
                }
            }
        }
    }
}


// foot
.foot{
    width: 1220px;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
    .kdiv{
        width: 1220px;
        height: 30px;
        margin: 10 auto;
        background: #ffffff;
    }
    .barr{
        width: 1200px;
        height: auto;
        overflow: hidden;
        margin: 10px auto;
        margin-top: 20px;
        .leftbox{
            height: 84px;
            margin-bottom: 2px;
            margin-top: 2px;
            display: inline;
            float: left;
            a{
                margin-right: 16px;
                float: left;
                border: 2px solid #ffffff;
                width: 97px;
                height: 80px;
                cursor: pointer;
                position: relative;
                img{
                    display: block;
                    width: 97px;
                    height: 64px;
                }
                p{
                    text-align: center;
                    height: 16px;
                    line-height: 16px;
                    font-size: 14px;
                    color: #000000;
                }
                &:hover{
                    border: 2px solid green;
                    p{
                        color: green;
                    }
                }
            }
            .first{
                margin-left: 15px;
            }
        }
    }
    .second{
        width: 1220px;
        margin: 10px auto;
        padding-top: 10px;
        height: auto;
        background-color: #fff;
        overflow: hidden;
        border-radius: 5px;
        li{
            width: 50%;
            padding: 5px 0;
            font-size: 12px;
            line-height: 20px;
            color: #666;
            float: left;
            border-top: dashed 1px #999;
            overflow: hidden;
            a{
                color: #666;
                text-indent: 50px;
                &:hover{
                    color: #F69;
                    font-weight: bold;
                }
            }
            span{
                float: right;
                margin-right: 25px;
                i{
                    color: #f69;
                    font-style: normal;
                }
            }
        }
        .second_font{
            position: relative;
            top: 10px;
            padding: 15px 0;
            float: left;
            width: 100%;
            height: auto;
            border-top: solid 1px #ccc;
            a{
                padding: 0 5px;
                float: left;
                line-height: 24px;
                margin-bottom: 5px;
                text-indent: 50px;
                &:hover{
                    color: #f79;
                    text-decoration: underline;
                }
            }
            .tags_1{
                font-size: 27px;
                color: #333;
            }
            .tags_2{
                font-size: 17px;
                color: #91d822;
            }
            .tags_3{
                font-size: 22px;
                color: #e83153;
            }
            .tags_5{
                font-size: 19px;
                color: #777;
            }
            .tags_6{
                font-size: 29px;
                color: #41c6f7;
            }
            .tags_7{
                color: #ccc;
            }
            .tags_8{
                font-size: 16px;
                color: #e57e10;
            }
        }
    }
}
// tureFoot
.sss{
    width: 100%;
    height: auto;
    background: #F5EDED;
    margin: 0 auto;
    overflow: hidden;
}
.tureFoot{
    width: 100%x;
    overflow: hidden;
    padding: 13px;
    margin: 20px auto;
    margin-bottom: 10px;
    box-shadow: inset 0 1px 2px rgba(34,25,25,0.1);
    letter-spacing: .5px;
    background-color: #f5f5f5;
    .foot_con{
        width: 960px;
        overflow: hidden;
        margin-left: auto;
        margin-right: auto;
        .f_list{
            width: 150px;
            line-height: 20px;
            padding-top: 10px;
            padding-bottom: 10px;
            margin: 10px;
            margin-left: 20px;
            float: left;
            color: #666;
            text-align: center;
            h4{
                color: #666;
                font-size: 14px;
            }
            li{
                line-height: 20px;
                a{
                    color: #999;
                    font-size: 12px;
                    cursor: pointer;
                    &:hover{
                        color: #ec6083;
                    }
                }
            }
            p{
                font-size: 12px;
                line-height: 20px;
                text-align: center;
            }
        }
        .rolling{
            height: 30px;
            width: 950px;
            color: #999;
            float: left;
            overflow: hidden;
            line-height: 20px;
            padding: 5px 10px;
            border-top-color: #ccc;
            border-top-width: 1px;
            border-top-style: dashed;
            border-bottom-color: #ccc;
            border-bottom-width: 1px;
            border-bottom-style: dashed;
            margin: 0 auto;
            h4{
                float: left;
                line-height: 30px;
                font-weight: bold;
                display: block;
                color: #999;
                font-size: 12px;
            }
            ul{
                list-style: none;
                line-height: 30px;
                width: auto;
                margin-left: 30px;
                overflow: hidden;
                margin-top: -50px;
                li{
                    width: auto;
                    float: left;
                    font-size: 14px;
                    line-height: 30px;
                    margin: 10px 15px;
                    a{
                        font-size: 13px;
                        float: left;
                        margin-left: 10px;
                        color: #999999;
                        &:hover{
                            color: #ec6083;
                        }
                    }
                }
            }
            p{
                float: right;
                margin-top: 0;
                z-index: 9;
                position: relative;
                font-size: 13px;
                margin-right: 5px;
                vertical-align: middle;
                letter-spacing: 1px;
                line-height: 30px;
                a{
                    color: #999;
                    &:hover{
                        color: #ec6083;
                    }
                }
            }
        }
        .record{
            width: 100%;
            height: 30px;
            padding: 10px;
            text-align: center;
            color: #999;
            float: left;
            line-height: 22px;
            font-size: 12px;
            a{
                color: #999;
                &:hover{
                    color: #ec6083;
                }
            }
        }
    }
}
// share
.share{
    width: 28px;
    height: 70px;
    position: fixed;
    right: 0;
    top: 130px;
    background: #ffffff;
    border-radius: 5px;
    padding: 10px 0;
    z-index: 10003;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    transition: all .5s;
    p{
        text-align: center;
        color: #ff6699;
        font-size: 16px;
        font-weight: bold;
    }
    .share_ej{
        width: 258px;
        height: 300px;
        background: #000000;
        position: fixed;
        top: 25px;
        right: -263px;
        border: 5px solid rgba(0,0,0,0.5);
        background: #ffffff;
        background-clip: padding-box;
        border-right: none;
        border-radius: 5px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        transition: all .5s; 
        .ej_one{
            font-size: 12px;
            width: 100%;
            height: 20px;
            line-height: 20px;
            background: #ededed;
            padding-left: 5px;
            a{
                color: #777;
            }
            span{
                float: right;
                margin-right: 10px;
                i{
                    font-style:normal;
                    color: orange;
                }
            }
        }
        .ej_two{
            width: 100%;
            height: 260px;
            .two_up{
                width: 100%;
                height: 50px;
                padding: 0 39px;
                padding-top: 10px;
                .up_one{
                    cursor: pointer;
                    text-align: center;
                    width: 60px;
                    height: 50px;
                    overflow: hidden;
                    color: inherit;
                    white-space: nowrap;
                    line-height: 120%;
                    float: left;  
                    p{
                        font-size: 12px;  
                        font-weight: 100; 
                        color: #000000;
                    } 
                }
            }
            .two_down{
                line-height: 20px;
                padding: 3px 8px;
                height: 190px;
                border-top: 1px solid #e8e8e8;
                .down_box{
                    float: left;
                    width: 111px;
                    text-align: left;
                    height: 24px;
                    padding: 2px 4px;
                    white-space: nowrap;
                    overflow: hidden;
                    background: url(../img/slogos_sprite8.png) no-repeat 0px -2248px;
                    a{
                        font-size: 12px;
                        color: #666;
                        margin-left: 20px;
                    }
                }
            }
        }
        
    }
    &:hover{
        right: 264px;
        .share_ej{
            right: 0;
        }
    }
}
// menu
.menu{
    position: absolute;
    height: auto;
    right: 150px;
    ul{
        width: 49px;
        position: fixed;
        bottom: 100px;
        overflow: hidden;
        list-style: none;
        margin: 0;
        padding: 0;
        z-index: 10003;
        li{
            width: 50px;
            float: left;
            padding: 0;
            background-color: #f8f8f8;
            a{
                width: 50px;
                height: 50px;
                float: left;
                background-image: url(../img/up.png);
                background-repeat: no-repeat;
                background-size: cover;
                opacity: .5;
            }
            .music{
                background-image: url(../img/music.png);
            }
        }
        #gotop{
            height: 0;
            transition: all 1s;
            opacity: 0;;
        }
    }
}