//导入公共样式
@import 'public';
body{
    background-color: #ededed;
}
// header
header {
    width: 100%;
    height: 34px;
    background-color: #ededed;
    border-bottom: 2px solid #f5f5f5;
}
.header {
    width: 1200px;
    height: 32px;
    margin: 0 auto;
    line-height: 32px;
    color: #666;
    p {
        float: left;
        font-size: 12px;
        &:hover {
            color: #f59;
        }
    }
    .header-right {
        float: right;
    }
    a {
        float: left;
        color: #666;
        font-size: 14px;
        &:hover {
            color: #f59;
        }
    }
    li {
        float: left;
        border-right: 1px solid #156dcf;
        height: 12px;
        margin: 8px 10px 0;
        overflow: hidden;
        width: 0;
    }
    .tb {
        width: 20px;
        height: 20px;
        float: left;
        margin-top: 8px;
        background: url(../img/fast_share.png) no-repeat;
    }
    .tb1 {
        background: url(../img/fast_share.png) no-repeat -188px 0px;
    }
}
// er
.er {
    width: 100%;
    height: 106px;
}
.logo {
    width: 1200px;
    height: 96px;
    margin: 0 auto;
    a{
        width: 255px;
        height: 54px;
        float: left;
        margin-top: 28px;
    }
    .mod_ad {
        height: 42px;
        float: left;
        font-size: 12px;
        border-left: 1px solid #eee;
        padding-left: 10px;
        line-height: 22px;
        color: #f59;
        margin-top: 28px;
        a{
            color: #f69;
            font-weight: bold;
            font-size: 14px;
            margin-top: 0;
        }
    }
    .ss{
        width: 621px;
        height: 71px;
        float: right;
        margin-top: 25px;
        .ssk{
            width: 430px;
            height: 35px;
            float: left;
            margin-right: 30px;
            position: relative;
            z-index: 700;
            border: 3px #ed145b solid;
            .mod_search_srk{
                height: 32px;
                border: 0 none;
                line-height: 14px;
                padding: 0px 10px;
                width: 340px;
                color: #666666;
                outline: 0 none;
            }
            .mod_search_btn{
                width: 65px;
                height: 35px;
                border: 0 none;
                text-indent: 0;
                text-align: center;
                font-size: 18px;
                color: #fff;
                background-color: #ed145b;
            }
        }
        .mod_cart{
            width: 155px;
            height: 39px;
            color: #f69;
            float: left;
            position: relative;
            z-index: 700;
            .mod_cart_con{
                background-color: #f8f8f8;
                height: 35px;
                width: 145px;
                border: 2px solid rgb(238, 238, 238);
                &:hover{
                    border: 2px solid rgb(255, 102, 153)
                }
                .mod_cart_lk{
                    width: 82px;
                    height: 33px;
                    margin-top: 0;
                    .mod_cart_ico{
                        background-image: url(../img/cart.png);
                        background-size: cover;
                        background-position: left center;
                        float: left;
                        height: 20px;
                        margin-left: 5px;
                        width: 23px;
                        margin-top: 7px;
                    }
                    .mod_cart_tit{
                        float: left;
                        font: 400 14px/35px "微软雅黑";
                        padding-left: 6px;
                        padding-right: 6px;
                        color: #666;
                    }
                }
                .mod_cart_line{
                    border-left: 2px solid #e8e8e8;
                    float: left;
                    font-size: 0;
                    height: 35px;
                    overflow: hidden;
                    width: 0;
                    font-style: normal;
                }
                .mod_cart_num{
                    float: left;
                    line-height: 35px;
                    text-align: right;
                    width: 25px;
                    font-weight: bold;
                    font-size: 16px;
                }
                .mod_cart_arrow{
                    background-color: #e8e8e8;
                    float: left;
                    height: 12px;
                    margin-left: 8px;
                    margin-top: 12px;
                    overflow: hidden;
                    width: 12px;
                    i{
                        border-color: #f80 rgba(0,0,0,0) rgba(0,0,0,0);
                        transform: rotate(180deg);
                        border-style: solid dashed dashed;
                        border-width: 4px;
                        border-width: 4px;
                        float: left;
                        font-size: 0;
                        height: 0;
                        margin-left: 2px;
                    }
                }
            }
        }
        .mod_lxie{
            clear: both;
            color: #999;
            height: 30px;
            line-height: 30px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 360px;
            word-break: keep-all;
            a{
                display: block;
                width: 24px;
                height: 13px;
                font-size: 12px;
                color: #999;
                margin: {
                    top : 0;
                    right: 10px;
                }
                
            }
        }
    }
}

// nav
.nav{
    width: 100%;
    height: 40px;
    background-color: #ED145B;
    position: sticky;
    top: 0; 
    left: 0;
    z-index: 10001;
    .dl_index{
        width: 1230px;
        height: 40px;
        overflow: hidden;
        margin: auto;
        letter-spacing: .5px;
        vertical-align: middle;
        .flei{
            width: auto;
            float: left;
            display: block;
            padding: 8px 10px;
            margin: 0px 5px;
            height: 40px;
            a{
                color: #e5e6e6;
                &:hover{
                    color: #FF9797;
                }
            }
        }
        .tbfl{
            background-color:#F04F83;
        }
    }
}
// bar
.bar{
    margin: 0 auto;
    background-color: #ededed;
    width: 100%;
    height: 600px;
    overflow: hidden;
    clear: both;
    position: relative;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    .bar_div{
        min-width: 1200px;
        width: 100%;
        height: 600px;
        position: relative;
        margin-top: 0px;
        float: left;
        .slide {
            max-width: 100%;
            height: auto;
            margin: 0 auto;
            position: relative;
            z-index: 999;
            overflow: hidden;
            ul{
                width: 10000%;
                list-style-type: none;
                &:after {
                    content: '';
                    clear: both;
                    display: block;
                }
                li{
                    float: left;
                    text-align: center;
                    img{
                        vertical-align: middle;
                        max-width: 100%;
                        width: 100%;
                        height: 450px;
                        overflow: hidden;
                    }
                }
            }
            .circle_btn {
                position: absolute;
                bottom: 15px;
                text-align: center;
                left: 0;
                display: block;
                margin: 0 auto;
                width: 100%;
                div {
                    width: 15px;
                    height: 15px;
                    border-radius: 15px;
                    background-color: #dddddd;
                    cursor: pointer;
                    display: inline-block;
                    margin: 0 10px;
                }
                .active{
                    background-color: #ff6699;
                }
            }
        }
        .next_btn {
            display: none;
        }
        .prev_btn {
            display: none;
        }
        .cenimg{
            width: 775px;
            height: 180px;
            float: left;
            padding-top: 10px;
            position: relative;
            top: 0;
            left: 397px;
            background-color: #FFF;
            li{
                width: 175px;
                height: 140px;
                float: left;
                border: solid #ddd 1px;
                margin: 0 5px;
                display: inline;
            }
        }
        .rigbox{
            float: right;
            width: 200px;
            height: 605px;
            overflow: hidden;
            position: relative;
            right: 150px;
            top: -450px;
            z-index: 10000;
            background-color: #ffffff;
            border-radius: 5px;
            text-align: center;
            .lunone{
                width: 160px;
                height: 280px;
                margin: 0 20px;
                .small_tu{
                    width: 160px;
                    height: 30px;
                    a{
                        width: 30px;
                        height: 30px;
                        float: left;
                        border: 1px solid #ffffff;
                        img{
                            width: 30px;
                            height: 30px;
                        }
                    }
                }
                .lbdhz{
                    width: 160px;
                    height: 160px;
                    overflow: hidden;
                    margin: 10px 0;
                    .da{
                        display: block;
                        width: 160px;
                        height: 160px;
                        margin-bottom: 5px;
                        img{
                            width: 160px;
                            height: 160px;
                        }
                    }
                }
                .jiage{
                    width: 100%;
                    height: 50px;
                    a{
                        height: 20px;
                        line-height: 20px;
                        text-align: left;
                        padding: 0 5px;
                        width: 150px;
                        color: #666;
                        font-size: 12px;
                        overflow: hidden;
                        display: block;
                    }
                    i{
                        color: #b10000;
                        font-size: 14px;
                        text-align: left;
                        font-style: normal;
                        display: block;
                        float: left;
                    }
                    em{
                        color: #b10000;
                        font-size: 14px;
                        text-align: left;
                        font-style: normal;
                        font-weight: bold;
                        display: block;
                        float: left;
                    }
                    img{
                        display: block;
                        clear: both;
                        width: 20px;
                        height: 20px;
                        margin-top: 5px;
                    }
                }
            }
        }
    }
    .lou{
        width: 247px;
        height: 605px;
        background-color: #ffffff;
        z-index: 10000;
        position: absolute;
        left: 150px;
        top: 0px;
        .nav_hot{
            width: auto;
            height: 70px;
            padding-bottom: 20px;
            margin-bottom: 10px;
            border-bottom: dashed #ccc 1px;
            position: relative;
            list-style: none;
            padding: {
                left: 2px;
                right: 0px;
                top: 5px;
                bottom: 20px;
            }
            h2{
                font-size: 20px;
                margin-left: 10px;
                .red_f{
                    color: #ec6083;
                }
            }
            p{
                line-height: 20px;
                width: 217px;
                float: left;
                padding: 0 10px;
                text-align: left;
                vertical-align: middle;
                overflow: hidden;
                font-size: 12px;
                .tabs{
                    margin-right: 10px;
                    color: #666666;
                }
                .red_f{
                    color: #ec6083;
                }
            }
            .nav_sanji{
                visibility: hidden;
                position: absolute;
                left: 245px;
                top: 0;
                z-index: 100;
                background-color: #ffffff;
                .louceng{
                    color: #666666;
                    font-size: 14px;
                    font-weight: 600;
                    display: block;
                    margin: 5px;
                }
            }
            &:hover{
                .nav_sanji{
                    visibility: visible;
                }
            }
        }
        .nav_hot_ss{
            margin-top: 25px;
            .mod_search_srk{
                width: 160px;
                height: 25px;
                line-height: 14px;
                font-size: 13px;
                margin-left: 10px;
                color: #666;
                border: solid #ccc 1px;
                padding-left: 10px;
                margin-right: 3px;
                border-radius: 3px;
                float: left;
                outline: 0;
            }
            .mod_search_btn{
                width: 50px;
                height: 25px;
                line-height: 25px;
                color: #fff;
                font-size: 12px;
                text-align: center;
                vertical-align: middle;
                border-width: 0;
                background-color: #ec6083;
                border-radius: 3px;
                cursor: pointer;
                outline: 0;
            }
        }
    }
    
}
// kby
.s{
    width: 100%;
    height: 231px;
    background-color: #ededed;
    .kby{
        height: 211px;
        width: 1200px;
        margin: 0 auto;
        padding: 10px;
        border-radius: 5px;
        background: url(../img/loading2.gif) no-repeat center;
        background-color: #ffffff;
        .kb1{
            width: 220px;
            height: 200px;
            float: left;
        }
        .kb2{
            width: 720px;
            float: left;
            height: 210px;
            margin-left: 5px;
            a{
                font-size: 12px;
                color: #666666;
            }
        }
        .kb3{
            width: 220px;
            float: left;
            height: 210px;
        }
    }
}
// today
.today{
    width: 1210px;
    height: 1374px;
    padding: 10px 5px;
    margin: 10px auto;
    border-width: 0;
    overflow: hidden;
    background-color: #fcfcfc;
    border: solid #e5e6e6 2px;
    border-radius: 10px;
    .today_bt{
        width: auto;
        height: 50px;
        line-height: 50px;
        overflow: hidden;
        margin: 0 10px;
        border-bottom: solid #ccc 1px;
        h1{
            float: left;
            width: 150px;
            height: 33px;
            line-height: 33px;
            display: inline;
            margin-top: 5px;
            color: #fff;
            text-align: center;
            background-color: #f59;
            font-size: 16px;
            border-radius: 5px;
        }
    }
    .groupbox{
        width: auto;
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 5px;
        float: left;
        .groupCon{
            width: 220px;
            overflow: hidden;
            border-color: #e6e4e4;
            border-width: 1px;
            border-style: solid;
            box-shadow: 0 0 1px rgba(34,25,25,0.1);
            background-clip: border-box;
            background-origin: padding-box;
            background-color: #fff;
            color: #999;
            font-size: 14px;
            background-color: #fff;
            border-radius: 10px;
            .picBox{
                width: auto;
                overflow: hidden;
                display: block;
                background: url(../img/loading.gif) no-repeat center center;
                img{
                    border-color: transparent;
                    border-style: none;
                    overflow: hidden;
                    width: 220px;
                    height: 330px;
                }
            }
            .g_tle{
                height: 36px;
                color: #999;
                line-height: 18px;
                vertical-align: middle;
                word-break: break-all;
                letter-spacing: .5px;
                white-space: normal;
                overflow: hidden;
                margin: 5px;
                font-size: 14px;
                a{
                    color: #666;
                    text-decoration: none;
                }
            }
            .gc_title{
                height: 25px;
                line-height: 25px;
                overflow: hidden;
                padding: 10px 5px;
                a{
                    width: 60px;
                    height: 25px;
                    float: left;
                    background-attachment: scroll;
                    background-clip: border-box;
                    background-color: transparent;
                    background-image: url(../img/icon-big-v4.png);
                    background-origin: border-box;
                    background-position: -200px -80px;
                    background-repeat: no-repeat;
                    background-size: auto;
                }
                i{
                    width: 5px;
                    height: 25px;
                    overflow: hidden;
                    float: left;
                    background: url(../img/icon-big-v4.png) no-repeat -400px -80px;
                }
                span{
                    width: auto;
                    text-align: center;
                    overflow: hidden;
                    float: right;
                    white-space: nowrap;
                    word-break: break-all;
                    vertical-align: middle;
                    letter-spacing: .5px;
                    color: #999;
                }
            }
        }
    }
}
// yfu
.yfu{
    width: 1210px;
    height: 1000px;
    padding: 10px 5px;
    margin: 10px auto;
    border-width: 0;
    overflow: hidden;
    background-color: #fcfcfc;
    border: solid #e5e6e6 2px;
    border-radius: 10px;
    .yfu_tit{
        width: auto;
        height: 50px;
        line-height: 50px;
        overflow: hidden;
        margin: 0 10px;
        border-bottom: solid #ccc 1px;
        h1{
            float: left;
            width: 150px;
            height: 33px;
            line-height: 33px;
            display: inline;
            margin-top: 5px;
            color: #fff;
            text-align: center;
            background-color: #f59;
            font-size: 16px;
            border-radius: 5px;
        }
        .show_tle{
            width: auto;
            line-height: 20px;
            padding: 3px 5px;
            float: left;
            position: relative;
            top: 10px;
            left: 20px;
            margin-right: 10px;
            font-size: 12px;
            color: #f69;
            background-color: #ffebeb;
            border-radius: 5px;
            border: solid #ccc 1px;
        }
        span{
            float: right;
            a{
                font-size: 14px;
                color: #f69;
            }
        }
    }
    .yfu_con{
        width: 280px;
        height: 450px;
        overflow: hidden;
        float: left;
        background-color: #f8f8f8;
        position: relative;
        margin-left: 10px;
        margin-bottom: 15px;
        border-radius: 5px;
        transition: all 1s;
        a{
            width: auto;
            overflow: hidden;
            display: block;
            color: #666;
            img{
                width: 95%;
                height: 95%;
                border: 0;
                overflow: hidden;
                margin: 5px;
                padding: 5px;
                background-color: #ededed;

            }
            .con_tit{
                width: 100%;
                height: 35px;
                line-height: 35px;
                background-color: #666;
                opacity: .7;
                position: absolute;
                bottom: 0;
                left: 0;
                opacity: 0;
                transition: all 1s;
                span{
                    max-width: 400px;
                    float: left;
                    margin-left: 10px;
                    color: #fff;
                    font-weight: bold;
                    font-size: 18px;
                }
                em{
                    float: right;
                    max-width: 50px;
                    margin-right: 10px;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 18px;
                    color: #f69;
                }
            }
        }
        .con_on{
            width: 200px;
            height: auto;
            position: absolute;
            top: 0;
            right: 0;
            z-index: 99;
            cursor: pointer;
            opacity: 0;
            transition: all 1s;
            .con_on_tit{
                float: right;
                margin-right: 10px;
                margin-top: 20px;
                width: 100px;
                height: 20px;
                background-color: #f49;
                text-align: center;
                padding: 3px 2px;
                color: #fff; 
                border-radius: 5px;
            }
        }
        &:hover{
            box-shadow: 5px 5px 5px #ccc;
            .con_on{
                opacity: 1;
            }
            .con_tit{
                opacity: 1;
            }
        }
    }
}
// foot
.foot{
    width: 1220px;
    height: auto;
    background: #ffffff;
    margin: 0 auto;
    overflow: hidden;
    .barr{
        width: 1200px;
        height: auto;
        overflow: hidden;
        margin: 10px auto;
        margin-top: 100px;
        .leftbox{
            height: 84px;
            margin-bottom: 2px;
            margin-top: 2px;
            display: inline;
            float: left;
            a{
                margin-right: 16px;
                float: left;
                border: 2px solid #ffffff;
                width: 97px;
                height: 80px;
                cursor: pointer;
                position: relative;
                img{
                    display: block;
                    width: 97px;
                    height: 64px;
                }
                p{
                    text-align: center;
                    height: 16px;
                    line-height: 16px;
                    font-size: 14px;
                    color: #000000;
                }
                &:hover{
                    border: 2px solid green;
                    p{
                        color: green;
                    }
                }
            }
            .first{
                margin-left: 15px;
            }
        }
    }
    .second{
        width: 1220px;
        margin: 10px auto;
        padding-top: 10px;
        height: auto;
        background-color: #fff;
        overflow: hidden;
        border-radius: 5px;
        li{
            width: 50%;
            padding: 5px 0;
            font-size: 12px;
            line-height: 20px;
            color: #666;
            float: left;
            border-top: dashed 1px #999;
            overflow: hidden;
            a{
                color: #666;
                text-indent: 50px;
                &:hover{
                    color: #F69;
                    font-weight: bold;
                }
            }
            span{
                float: right;
                margin-right: 25px;
                i{
                    color: #f69;
                    font-style: normal;
                }
            }
        }
        .second_font{
            position: relative;
            top: 10px;
            padding: 15px 0;
            float: left;
            width: 100%;
            height: auto;
            border-top: solid 1px #ccc;
            a{
                padding: 0 5px;
                float: left;
                line-height: 24px;
                margin-bottom: 5px;
                text-indent: 50px;
                &:hover{
                    color: #f79;
                    text-decoration: underline;
                }
            }
            .tags_1{
                font-size: 27px;
                color: #333;
            }
            .tags_2{
                font-size: 17px;
                color: #91d822;
            }
            .tags_3{
                font-size: 22px;
                color: #e83153;
            }
            .tags_5{
                font-size: 19px;
                color: #777;
            }
            .tags_6{
                font-size: 29px;
                color: #41c6f7;
            }
            .tags_7{
                color: #ccc;
            }
            .tags_8{
                font-size: 16px;
                color: #e57e10;
            }
        }
    }
}
// tureFoot
.sss{
    width: 1220px;
    height: auto;
    background: #ffffff;
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 10px;
}
.tureFoot{
    width: 1195px;
    overflow: hidden;
    padding: 13px;
    margin: 20px auto;
    margin-bottom: 10px;
    box-shadow: inset 0 1px 2px rgba(34,25,25,0.1);
    letter-spacing: .5px;
    background-color: #f5f5f5;
    .foot_con{
        width: 960px;
        overflow: hidden;
        margin-left: auto;
        margin-right: auto;
        .f_list{
            width: 150px;
            line-height: 20px;
            padding-top: 10px;
            padding-bottom: 10px;
            margin: 10px;
            margin-left: 20px;
            float: left;
            color: #666;
            text-align: center;
            h4{
                color: #666;
                font-size: 14px;
            }
            li{
                line-height: 20px;
                a{
                    color: #999;
                    font-size: 12px;
                    cursor: pointer;
                    &:hover{
                        color: #ec6083;
                    }
                }
            }
            p{
                font-size: 12px;
                line-height: 20px;
                text-align: center;
            }
        }
        .rolling{
            height: 30px;
            width: 950px;
            color: #999;
            float: left;
            overflow: hidden;
            line-height: 20px;
            padding: 5px 10px;
            border-top-color: #ccc;
            border-top-width: 1px;
            border-top-style: dashed;
            border-bottom-color: #ccc;
            border-bottom-width: 1px;
            border-bottom-style: dashed;
            margin: 0 auto;
            h4{
                float: left;
                line-height: 30px;
                font-weight: bold;
                display: block;
                color: #999;
                font-size: 12px;
            }
            ul{
                list-style: none;
                line-height: 30px;
                width: auto;
                margin-left: 30px;
                overflow: hidden;
                margin-top: -50px;
                li{
                    width: auto;
                    float: left;
                    font-size: 14px;
                    line-height: 30px;
                    margin: 10px 15px;
                    a{
                        font-size: 13px;
                        float: left;
                        margin-left: 10px;
                        color: #999999;
                        &:hover{
                            color: #ec6083;
                        }
                    }
                }
            }
            p{
                float: right;
                margin-top: 0;
                z-index: 9;
                position: relative;
                font-size: 13px;
                margin-right: 5px;
                vertical-align: middle;
                letter-spacing: 1px;
                line-height: 30px;
                a{
                    color: #999;
                    &:hover{
                        color: #ec6083;
                    }
                }
            }
        }
        .record{
            width: 100%;
            height: 30px;
            padding: 10px;
            text-align: center;
            color: #999;
            float: left;
            line-height: 22px;
            font-size: 12px;
            a{
                color: #999;
                &:hover{
                    color: #ec6083;
                }
            }
        }
    }
    
}
// menu
.menu{
    position: absolute;
    height: auto;
    right: 150px;
    ul{
        width: 49px;
        border: solid #f8f8f8 1px;
        position: fixed;
        bottom: 100px;
        overflow: hidden;
        list-style: none;
        margin: 0;
        padding: 0;
        background-color: transparent;
        z-index: 10003;
        li{
            width: 50px;
            float: left;
            padding: 0;
            background-color: #f8f8f8;
            a{
                width: 50px;
                height: 50px;
                float: left;
                background-image: url(../img/up.png);
                background-repeat: no-repeat;
                background-size: cover;
                opacity: .5;
            }
            .music{
                background-image: url(../img/music.png);
            }
        }
    }
}
// share
.share{
    width: 28px;
    height: 70px;
    position: fixed;
    right: 0;
    top: 130px;
    background: #ffffff;
    border-radius: 5px;
    padding: 10px 0;
    z-index: 10003;
    p{
        text-align: center;
        color: #ff6699;
        font-size: 16px;
        font-weight: bold;
    }
}